<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="../categories">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Tab One</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Tab Two</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon name="send"></ion-icon>
        <ion-label>Tab Three</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="local_nickname" type="text" placeholder="Nickname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="local_password" type="text" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="checkUser()" expand="block" fill="solid" shape="round">
            Login
          </ion-button>
          <ion-button (click)="deleteUser()" expand="block" fill="solid" shape="round">
            Delete
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="local_email" type="text" placeholder="Email"></ion-input>
        </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="local_nickname" type="text" placeholder="Nickname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="local_password" type="text" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="local_pic" type="text" placeholder="Pic"></ion-input>
          </ion-item>
            <ion-item>
              <ion-button (click)="addUser()" expand="block" fill="solid" shape="round">
                Agregar
              </ion-button>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>