<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/recommends"></ion-back-button>
    </ion-buttons>
    <ion-title>{{categoryTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{categoryTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4" *ngFor="let meal of categoryMeals">
      <app-meal-card id="{{meal.api}}"></app-meal-card>
      <!-- <ion-list>
        <ion-item *ngFor="let meal of favorites">
          <app-meal-card id="{{meal.id}}"></app-meal-card>
        </ion-item>
      </ion-list> -->
    </ion-col>
  </ion-row>
</ion-content>
