.tab {
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto 10px;
    min-width: 300px;
  }
  
  .tab-btn {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .tab-btn:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }