<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" href="../categories">
        <ion-icon name="person"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="categories">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
